forgejo:
  persistence:
    enabled: true
    create: true
    mount: true
    claimName: gitea-shared-storage
    size: 50Gi
    accessModes:
      - ReadWriteOnce
    labels: {}
    storageClass: longhorn
    subPath:
    volumeName: ''
    annotations:
      helm.sh/resource-policy: keep

  ingress:
    enabled: true
    # className: nginx
    className: traefik
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-production
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Forgejo
      gethomepage.dev/group: Apps
      gethomepage.dev/icon: forgejo.png
      gethomepage.dev/name: Forgejo
      gethomepage.dev/pod-selector: ""
      # kubernetes.io/tls-acme: "true"
      nginx.ingress.kubernetes.io/proxy-body-size: 0
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    hosts:
      - host: git.rwcloud.org
        paths:
          - path: /
            pathType: Prefix
    tls:
      - secretName: git-certificate-tls
        hosts:
        - git.rwcloud.org

  gitea:
    ## @param gitea.admin.username Username for the Forgejo admin user
    ## @param gitea.admin.existingSecret Use an existing secret to store admin user credentials
    ## @param gitea.admin.password Password for the Forgejo admin user
    ## @param gitea.admin.email Email for the Forgejo admin user
    ## @param gitea.admin.passwordMode Mode for how to set/update the admin user password. Options are: initialOnlyNoReset, initialOnlyRequireReset, and keepUpdated
    admin:
      # existingSecret: gitea-admin-secret
      existingSecret: forgejo-admin-secret

    oauth:
      - name: 'keycloak'
        provider: openidConnect
      #  key:
      #   secret:
        existingSecret: forgejo-oauth-secret
        autoDiscoverUrl: https://auth.rwcloud.org/realms/rwcloud/.well-known/openid-configuration

    metrics:
      enabled: true
      serviceMonitor:
        enabled: true

    additionalConfigFromEnvs:
      - name: FORGEJO__DATABASE__PASSWD
        valueFrom:
          secretKeyRef:
            name: forgejodb-app
            key: password
      - name: FORGEJO__DATABASE__USER
        valueFrom:
          secretKeyRef:
            name: forgejodb-app
            key: username

    config:
      database: 
        DB_TYPE: postgres
        HOST: forgejodb-rw:5432
        NAME: forgejodb

      oauth2_client: 
        OPENID_CONNECT_SCOPES: profile email roles        
        ENABLE_AUTO_REGISTRATION: true

      server:
        SSH_PORT: 2222 # rootful image
        SSH_LISTEN_PORT: 2222 # rootless image
        ROOT_URL: https://git.rwcloud.org/