ansible_user: ronny
ansible_host: 192.168.0.100
ansible_sudo_pass: "{{ lookup('env','TERRA_SUDO_PASS') }}"

k3s_control_node: true

k3s_agent:
  node-label: node.longhorn.io/create-default-disk=true

tailscale_args: "--advertise-routes={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}/32 --accept-routes --accept-dns=false"