ansible_user: ronny
ansible_host: terra
ansible_sudo_pass: "{{ lookup('env','TERRA_SUDO_PASS') }}"


k3s_control_node: true

rke2_type: server

tailscale_args: "--advertise-routes={{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}/32,{{ hostvars[inventory_hostname]['ansible_default_ipv6']['address'] }}/128,10.0.1.2/32 --accept-routes --accept-dns=false"