ingress-nginx:
  controller:
    ingressClass: nginx
    ingressClassResource:
      # -- Name of the ingressClass
      name: nginx
      # -- Is this ingressClass enabled or not
      enabled: true
      # -- Is this the default ingressClass for the cluster
      default: true
    hostNetwork: true
    dnsPolicy: ClusterFirstWithHostNet
    kind: DaemonSet
    service:
      enabled: true
      type: ClusterIP
      # loadBalancerIP: "192.168.0.240"
      # nodePorts:
      #   http: 32080
      #   https: 32443
      #   tcp:
      #     2222: 32222       
      #     30100: 30100   
        # 2222-tcp: 32222
        # 30100-tcp: 32100
    config:
      use-proxy-protocol: "true"
      enable-real-ip: "true"
      proxy-real-ip-cidr: "192.168.0.225/32,fd00:2222::42:c0ff:fea8:babe/128,fd00:dead:beef::2/128"
      compute-full-forwarded-for: "true"
      ssl-protocols: "TLSv1.3 TLSv1.2"
      proxy-body-size: "1000m"      
      client-body-buffer-size: "1000m"
      allow-snippet-annotations: "true"
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
    extraArgs:
      default-ssl-certificate: "ingress-nginx/wildcard-tls"
#      tcp-services-configmap: ingress-nginx/tcp-services
    resources:
      requests:
        memory: 100Mi
        cpu: 100m
      limits:
        memory: 1000Mi
    admissionWebhooks:
      annotations: {}
      # ignore-check.kube-linter.io/no-read-only-rootfs: "This deployment needs write access to root filesystem".

      ## Additional annotations to the admission webhooks.
      ## These annotations will be added to the ValidatingWebhookConfiguration and
      ## the Jobs Spec of the admission webhooks.
      enabled: false
    ingressClassResource:
      # -- Name of the ingressClass
      name: nginx
      # -- Is this ingressClass enabled or not
      enabled: true
      # -- Is this the default ingressClass for the cluster
      default: true
    # nodeSelector:
    #   kubernetes.io/hostname: terra

