karma:
  image:
    repository: ghcr.io/prymitive/karma
    tag: v0.120
  env:
    - name: ALERTMANAGER_URI
      value: http://prometheus-alertmanager:9093
    - name: ALERTMANAGER_EXTERNAL_URI
      value: https://alertmanager.rwcloud.org
  ingress:
    enabled: true
    ingressClassName: traefik
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-production
      traefik.ingress.kubernetes.io/router.middlewares: >
        oauth2-proxy-oauth2-auth@kubernetescrd
      gethomepage.dev/enabled: "true"
      gethomepage.dev/description: Karma Dashboard
      gethomepage.dev/group: System
      gethomepage.dev/icon: mdi-alert-box-outline
      gethomepage.dev/name: Karma
      gethomepage.dev/app: karma
      gethomepage.dev/pod-selector: ""
    hosts:
      - &host karma.rwcloud.org
    path: /
    tls:
      - hosts:
          - *host
        secretName: karma-tls
  serviceMonitor:
    enabled: true
