k3s_state: installed
k3s_release_version: v1.34.1+k3s1
k3s_become: true
k3s_build_cluster: true

# i really want only one master node. :-)
k3s_use_unsupported_config: true

# use internal ha datastore
k3s_etcd_datastore: true

k3s_server:
  #datastore-endpoint: "postgres://k3s:kndfnkj437783hjds@db.fritz.box:5432/k3sdb?sslmode=disable"
  #datastore-endpoint: "http://192.168.100.1:2379,http://192.168.100.2:2379,http://192.168.100.3:2379"
  #flannel-iface: none
  cluster-cidr: 10.42.0.0/16,2001:db8:42::/56
  service-cidr: 10.43.0.0/16,2001:db8:43::/112
  #flannel-backend: none
  #flannel-ipv6-masq: true
  #node-taint: 
  #  - node-role.kubernetes.io/master=true:NoSchedule
  #  - node-role.kubernetes.io/control-plane=true:NoSchedule
  disable:
    - traefik
    - metrics-server 
    - servicelb
    - local-storage
  #  - network-policy
  tls-san: 
  - 192.168.0.200
  - stardust.fritz.box
  # - 192.168.0.101
  #tls-san: 192.168.100.2
  #tls-san: 192.168.1.101  
  # for monitoring
  #kube-controller-manager-arg:
  #- "address=0.0.0.0"
  #- "bind-address=0.0.0.0"
  #kube-proxy-arg:
  #- "metrics-bind-address=0.0.0.0"
  #- "nodeport-addresses=10.0.1.0/24,fd00::/8"
  #kube-scheduler-arg:
  #- "address=0.0.0.0"
  #- "bind-address=0.0.0.0"
  # Controller Manager exposes etcd sqllite metrics
  #kubelet-arg:
  #- resolv-conf=/etc/resolv.conf
  etcd-expose-metrics: true
  #snapshotter: zfs



  # node-taint:
  #   - k3s-controlplane=true:NoExecute
#k3s_server_manifests_urls:
#  - url: https://kube-vip.io/manifests/rbac.yaml
#    filename: kube-vip-rbac.yaml

#k3s_server_manifests_templates:
#  - "manifests/kube-vip/kube-vip-daemonset.yaml"

# the ip of first node
# k3s_registration_address: "192.168.0.210"

