traefik:  
  deployment:
    # -- Enable deployment
    enabled: true
    # -- Deployment or DaemonSet
    kind: DaemonSet

  hostNetwork: true

  updateStrategy:  # @schema additionalProperties: false
    # -- Customize updateStrategy of Deployment or DaemonSet
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1  # @schema type:[integer, string, null]
      maxSurge:         # @schema type:[integer, string, null]

  service:
    enabled: false
    type: LoadBalancer
    # -- Additional annotations applied to both TCP and UDP services (e.g. for cloud provider specific config)
    annotations: 
      kube-vip.io/loadbalancerIPs: "192.168.1.100,fd00:2222:0:0::100"
    ipFamilies:
      - IPv4
      - IPv6
    ipFamilyPolicy: PreferDualStack
    spec: 
      externalTrafficPolicy: Local
  
  ports:
    websecure:
      proxyProtocol:
        trustedIPs:
          - 192.168.0.0/16
          - fd00:2222::/64
  
  ingressRoute:
    dashboard:
      enabled: false
      entryPoints: [web, websecure]
      matchRule: Host(`traefik-dashboard.rwcloud.org`)

  logs:
    general:
      # -- Set [logs format](https://doc.traefik.io/traefik/observability/logs/#format)
      format:  # @schema enum:["common", "json", null]; type:[string, null]; default: "common"
      # By default, the level is set to INFO.
      # -- Alternative logging levels are TRACE, DEBUG, INFO, WARN, ERROR, FATAL, and PANIC.
      level: "INFO"  # @schema enum:[TRACE,DEBUG,INFO,WARN,ERROR,FATAL,PANIC]; default: "INFO"
      
    access:
      # -- To enable access logs
      enabled: true
      # -- Set [access log format](https://doc.traefik.io/traefik/observability/access-logs/#format)
      format:  # @schema enum:["common", "genericCLF", "json", null]; type:[string, null]; default: "common"
      # filePath: "/var/log/traefik/access.log

  experimental:
    plugins: 
      geoblock:
        moduleName: "github.com/PascalMinder/geoblock"
        version: "v0.3.3"
  
  additionalArguments:
  - "--entrypoints.websecure.http.middlewares=traefik-geblock@kubernetescrd"