traefik:  
  deployment:
    # -- Enable deployment
    enabled: true
    # -- Deployment or DaemonSet
    kind: DaemonSet
  service:
    type: LoadBalancer
    # -- Additional annotations applied to both TCP and UDP services (e.g. for cloud provider specific config)
    annotations: 
      kube-vip.io/loadbalancerIPs: "192.168.1.100,fd00:2222:0:0::100"
    ipFamilies:
      - IPv4
      - IPv6
    ipFamilyPolicy: PreferDualStack
    spec: 
      externalTrafficPolicy: Local
  
  ports:
    websecure:
      proxyProtocol:
        trustedIPs:
          - 192.168.0.0/16
          - fd00:2222::/64
      middlewares:
        - geblock:
            plugin:
              geoblock:
                silentStartUp: false
                allowLocalRequests: true
                logLocalRequests: false
                logAllowedRequests: false
                logApiRequests: false
                api: "https://get.geojs.io/v1/ip/country/{ip}"
                apiTimeoutMs: 500
                cacheSize: 25
                forceMonthlyUpdate: true
                allowUnknownCountries: false
                unknownCountryApiResponse: "nil"
                countries:
                  - DE
                excludedPathPatterns:
                  - "^[^/]+/health$"
                  - "^[^/]+/status$"
  
  ingressRoute:
    dashboard:
      enabled: false
      entryPoints: [web, websecure]
      matchRule: Host(`traefik-dashboard.rwcloud.org`)

  logs:
    general:
      # -- Set [logs format](https://doc.traefik.io/traefik/observability/logs/#format)
      format:  # @schema enum:["common", "json", null]; type:[string, null]; default: "common"
      # By default, the level is set to INFO.
      # -- Alternative logging levels are TRACE, DEBUG, INFO, WARN, ERROR, FATAL, and PANIC.
      level: "INFO"  # @schema enum:[TRACE,DEBUG,INFO,WARN,ERROR,FATAL,PANIC]; default: "INFO"
      
    access:
      # -- To enable access logs
      enabled: true
      # -- Set [access log format](https://doc.traefik.io/traefik/observability/access-logs/#format)
      format:  # @schema enum:["common", "genericCLF", "json", null]; type:[string, null]; default: "common"
      # filePath: "/var/log/traefik/access.log

  experimental:
    plugins: 
      geoblock:
        moduleName: "github.com/PascalMinder/geoblock"
        version: "v0.3.3"