- name: Create all defined VMs on Proxmox
  hosts: discovery  # Playbook wird auf den Proxmox-Hosts ausgeführt
  gather_facts: no
  tasks:
    - name: Create VM on Proxmox for each defined host
      community.general.proxmox:
        api_host: "{{ lookup('env', 'PROXMOX_API_HOST') }}"  # Proxmox-API-Host
        api_user: "{{ lookup('env', 'PROXMOX_API_USER') }}"  # Proxmox-API-User
        api_password: "{{ lookup('env', 'PROXMOX_API_TOKEN') }}"  # API-Token
        validate_certs: false
        node: "{{ hostvars[item].proxmox_node }}"  # Ziel-Node aus host_vars der VM
        vmid: "{{ hostvars[item].vmid }}"          # VM-ID aus host_vars der VM
        name: "{{ hostvars[item].vm_name }}"       # Name der VM aus host_vars
        memory: "{{ hostvars[item].memory }}"
        cores: "{{ hostvars[item].cores }}"
        disks:
          - size: "{{ hostvars[item].disk_size }}"
            storage: "{{ hostvars[item].storage }}"
            type: scsi
        net0:
          model: virtio
          bridge: "{{ hostvars[item].network_bridge }}"
        ipconfig0: "{{ hostvars[item].ipconfig0 }}"
        tags: "{{ hostvars[item].tags }}"
        start: yes
      loop: "{{ groups['masters'] + groups['workers'] }}"  # Iteriere über die Gruppen `masters` und `workers`
      loop_control:
        loop_var: item  # Verwende `item` als Loop-Variable
      delegate_to: localhost  # Führe die API-Aufrufe lokal aus
