all:
  children:         
    k3s_server:
      hosts: 
        terra:
        mars:
    k3s_agent:
      hosts:
        # worker01:
        # worker02:
        # worker03:
        # worker04:        
    k3s_cluster:
      children:
        k3s_server:
        k3s_agent:    