all:
  children:         
    masters:
      hosts: 
        voyager:
    workers:
      hosts:
        # worker01:
        # worker02:
        # worker03:
        # worker04:
    k3s_cluster:
      children:
        masters:
        workers:    