all:
  children:         
    masters:
      hosts: 
        cloud-1:      
    workers:
      hosts:
        cloud-2:
        # worker01:
        # worker02:
        # worker03:
        # worker04:        
    k8s_cluster:
      children:
        masters:
        workers:    