all:
  children:         
    masters:
      hosts: 
        k8s-01:
        k8s-02:
        k8s-03:
    workers:
      hosts:
        # worker01:
        # worker02:
        # worker03:
        # worker04:        
    k8s_cluster:
      children:
        masters:
        workers:    