node-ip: {{ ansible_wg0.ipv4.address }} 
node-external-ip: {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}
token: {{ rke2_token }}

{% if rke2_type == 'server' %}
advertise-address: {{ ansible_wg0.ipv4.address }} 

{% if disable_ingress %}
disable: rke2-ingress-nginx
{% endif %}

{% if rke2_server_taint %}
node-taint:
  - "CriticalAddonsOnly=true:NoExecute"
{% endif %}


tls-san:
  - cluster.local
  - 127.0.0.1
  - {{ wireguard_address }} 
  - {{ansible_hostname}}
  - {{ansible_host}}
{% endif %}


{% if rke2_api_ip is defined %}
server: https://{{ rke2_api_ip }}:9345
{% endif %}

