#---------------------------------------------------------------------
# Configure HAProxy for Kubernetes API Server
#---------------------------------------------------------------------
defaults
    retries 3
    option  redispatch
    timeout client 30s
    timeout connect 4s
    timeout server 30s

listen stats
  bind    {{wireguard_address | replace('/32','')}}:9000
  mode    http
  stats   enable
  stats   hide-version
  stats   uri       /stats
  stats   refresh   30s
  stats   realm     Haproxy\ Statistics
  stats   auth      Admin:Password
   
############## Configure HAProxy http Frontend #############
frontend http
    bind *:80
    mode tcp
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }
    default_backend http

############## Configure HAProxy k8s SecureBackend #############
backend http
    balance roundrobin
    mode tcp
    #option tcplog
    option tcp-check
    default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
    {% for host in groups['public_worker'] %}
      server {{ host }} {{hostvars[host]['wireguard_address'] | replace('/32','') }}:80 check send-proxy-v2
    {% endfor %}
    {% for host in groups['local_worker'] %}
      server {{ host }} {{hostvars[host]['ansible_host'] }}:80 check send-proxy-v2
    {% endfor %}



 ############## Configure HAProxy https Frontend #############
frontend https
    bind *:443
    mode tcp
    tcp-request inspect-delay 5s
    tcp-request content accept if { req.ssl_hello_type 1 }
    default_backend https

############## Configure HAProxy k8s SecureBackend #############
backend https
    balance roundrobin
    mode tcp
    #option tcplog
    option ssl-hello-chk
    default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
    {% for host in groups['public_worker'] %}
      server {{ host }} {{hostvars[host]['wireguard_address'] | replace('/32','') }}:443 check send-proxy-v2
    {% endfor %}
    {% for host in groups['local_worker'] %}
      server {{ host }} {{hostvars[host]['ansible_host'] }}:443 check send-proxy-v2
    {% endfor %}

frontend minecraft-caro-ronny
    # receives traffic from clients
    balance roundrobin
    mode tcp
    bind :30100
    default_backend minecraft-caro-ronny

backend minecraft-caro-ronny
    default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
    {% for host in groups['public_worker'] %}
      server {{ host }} {{hostvars[host]['wireguard_address'] | replace('/32','') }}:30100 check
    {% endfor %}    

frontend minecraft-caro-sofia-robert
    # receives traffic from clients
    balance roundrobin
    mode tcp
    bind :30101
    default_backend minecraft-caro-sofia-robert

backend minecraft-caro-sofia-robert
    default-server inter 10s downinter 5s rise 2 fall 2 slowstart 60s maxconn 250 maxqueue 256 weight 100
    {% for host in groups['public_worker'] %}
      server {{ host }} {{hostvars[host]['wireguard_address'] | replace('/32','') }}:30101 check
    {% endfor %}    
